
{{if:!handle}}
<div class="formContainer forgotPasswordForm">
	<form action="{{fullPath}}{{queryString}}" method="post" id="forgotPassword">
		<fieldset>
			<legend>Reset your password</legend>
			{{formFeedback}}
			<div class="clearfix formRow">
				<label for="usernameOrEmail">Username / Email</label>
				<input name="usernameOrEmail" type="text" id="usernameOrEmail" class="required" tabindex="1">
			</div>
			<div class="formButtons">
				<input type="submit" value="Check" id="checkButton" tabindex="4">
				<input type="hidden" name="form" value="Canteen\Forms\ForgotPassword">
				<input type="hidden" name="formSession" value="{{formSession}}">
			</div>
		</fieldset>
	</form>
</div>
{{fi:!handle}}
{{if:handle}}
	{{if:error}}
		<div class="forgotError">{{error}}</div>
	{{if:error}}
	{{if:success}}
		<div class="forgotSuccess">{{success}}</div>
		<div class="tempPassword">{{password}}</div>
	{{fi:success}}
{{fi:handle}}