<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Canteen Installer</title>
		<link rel="stylesheet" src="http://normalize-css.googlecode.com/svn/trunk/normalize.css" />
		{{template:CanteenStyles}}
	</head>
	<body>
		<div id="frame">
			<h1>First-Time Installation</h1>
			<form method="post" autocomplete="off">
				<fieldset>
					<h2>Create Administrator</h2>
					<p>You need to create an administrator account which
						can get you started managing the pages and configuration
						of your site.</p>
					{{formFeedback}}
					<div class="row">
						<label for="firstName">First Name</label>
						<input type="text" id="firstName" name="firstName" class="text">
					</div>
					<div class="row">
						<label for="lastName">Last Name</label>
						<input type="text" id="lastName" name="lastName" class="text">
					</div>
					<div class="row">
						<label for="email">Email</label>
						<input type="text" id="email" name="email" class="text">
					</div>
					<div class="row">
						<label for="username">Username</label>
						<input type="text" id="username" name="username" class="text">
					</div>
					<div class="row">
						<label for="password">Password</label>
						<input type="password" id="password" name="password" class="text">
					</div>
					<div class="row">
						<label for="repeatpass">Repeat Pass</label>
						<input type="password" id="repeatpass" name="repeatpass" class="text">
					</div>
					
					<h2>Additional Setup</h2>
					<p>Setup some initial site configuration.</p>
					
					<div class="row">
						<label for="siteTitle">Site Title</label>
						<input type="text" id="siteTitle" name="siteTitle" class="text">
					</div>
					<div class="row">
						<label for="contentPath">Content Path</label>
						<input type="text" id="contentPath" name="contentPath" class="text" value="assets/html/content/">
						<div class="note">
							This is the relative path to where the HTML page files are store. Each page
							on your site has a corresponding page in this directory. For
							instance, if your page stub was <em>/about</em> there would be an
							<em>about.html</em> in this directory.
						</div>
					</div>
					<div class="row">
						<label for="templatePath">Template Path</label>
						<input type="text" id="templatePath" name="templatePath" class="text" value="assets/html/index.html">
						<div class="note">
							This is the relative location to the template for your site.
						</div>
					</div>
					
					<div class="buttons">
						<input type="hidden" name="form" value="Canteen\Forms\Installer">
						<input type="submit" name="install" value="Install">						
					</div>
				</fieldset>
			</form>
		</div>
	</body>
</html>