<style type="text/css">
	body {
		background-color:#e6e6e6;
		margin:0;
		padding:0 20px;
		font-family:Helvetica, sans-serif;
		color:#666;
		line-height:1.4em;
	}
	#frame {
		position:relative;
		margin:20px auto;
		padding:20px 30px;
		min-width:400px;
		max-width:800px;
		border-radius:10px;
		background-color:#fff;
		border-bottom:2px solid #c3c3c3;
	}
	h1 {
		font-size:200%;
		padding:30px 30px;
		text-align:center;
		margin:0 0 40px;
		font-weight:normal;
		color:#fff;
		letter-spacing:-0.05em;
		border-radius:8px;
		border-bottom:2px solid #ccc;
		border-color:#751700;
		background: #cc3300;
		background: -moz-linear-gradient(top,  #cc3300 0%, #a02500 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc3300), color-stop(100%,#a02500));
		background: -webkit-linear-gradient(top,  #cc3300 0%,#a02500 100%);
		background: -o-linear-gradient(top,  #cc3300 0%,#a02500 100%);
		background: -ms-linear-gradient(top,  #cc3300 0%,#a02500 100%);
		background: linear-gradient(to bottom,  #cc3300 0%,#a02500 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc3300', endColorstr='#a02500',GradientType=0 );
		text-shadow: 2px 2px #770F0F;
	}
	a:hover {
		text-decoration:none;
	}
	ul.formError {
		color:#c00;
	}
</style>