<h1><span class="icon-admin-pages"></span>{{pageTitle}}</h1>

{{if:!hasPage}}
<div class="formContainer pageUpdateSelect selectForm">
	<form action="{{fullPath}}{{queryString}}" method="post" id="pageUpdateSelect">
		<fieldset>
			<label for="pageId">Edit Page</label>
			<select name="pageId" id="pageId" require>
				<option value="0">Select a page</option>
				{{pages}}
			</select>
			<button type="submit" value="Edit" id="editButton" class="submit">
				<span class="buttonIcon icon-edit"></span>
				<span class="buttonLabel">Edit</span>
			</button>
		</fieldset>
	</form>
</div>
{{/if:!hasPage}}

<div class="formContainer pageUpdate">
	<form action="{{fullPath}}{{queryString}}" method="post" id="pageUpdate">
		<fieldset>
			<legend>{{formLabel}}</legend>
			{{formFeedback}}
			{{if:!isWriteable}}
			<div class="formNotice">
				<span class="icon-warning"></span>
				<strong>Notice:</strong> Unable to save or edit page contents in
				<strong>{{contentPath}}</strong>, please make this directory writeable. 
			</div>
			{{/if:!isWriteable}}
			<div class="clearfix formRow">
				<label for="title">Title</label>
				<input name="title" type="text" id="title" class="text required" tabindex="1" value="{{title}}">
			</div>
			<div class="clearfix formRow">
				<label for="uri">URI</label>
				<input name="uri" type="text" id="uri" class="text required {{readOnly}}" {{readOnly}} tabindex="2" value="{{uri}}">
				{{if:readOnly}}
					<input name="uri" type="hidden" value="{{uri}}">
				{{/if:readOnly}}
			</div>
			{{if:isWriteable}}
			<div class="clearfix formRow">
				<label for="pageContent">Content</label>
				<textarea name="content" id="pageContent" tabindex="3" class="editable large">{{pageContent}}</textarea>
			</div>
			{{/if:isWriteable}}
			<div class="clearfix formRow">
				<label for="keywords">Keywords</label>
				<textarea name="keywords" id="keywords" tabindex="4">{{keywords}}</textarea>
			</div>
			<div class="clearfix formRow">
				<label for="description">Description</label>
				<textarea name="description" id="description" tabindex="5">{{description}}</textarea>
			</div>
			<div class="clearfix formRow">
				<label for="privilege">Privilege</label>
				<select id="privilege" name="privilege" class="required {{readOnly}}" {{readOnly}} tabindex="6">
					{{privileges}}
				</select>
			</div>
			<div class="clearfix formRow">
				<label for="isDynamic">Is Dynamic</label>
				<input name="isDynamic" type="checkbox" class="checkbox" value="1" id="isDynamic" {{isDynamic}} tabindex="7">
				Page location can have appending URI elements
			</div>
			<div class="clearfix formRow">
				<label for="cache">Cache</label>
				<input name="cache" type="checkbox" class="checkbox" value="1" id="cache" {{cache}} tabindex="8">
				Always cache the page
			</div>
			{{if:!readOnly}}
			<div class="clearfix formRow">
				<label for="parentId">Parent</label>
				<select name="parentId" id="parentId" tabindex="9">
					<option value="0">No Parent</option>
					{{parentId}}
				</select>
			</div>
			<div class="clearfix formRow">
				<label for="redirectId">Redirect</label>
				<select name="redirectId" id="redirectId" tabindex="10">
					<option value="0">Don't Redirect</option>
					{{redirectId}}
				</select>
			</div>
			{{/if:!readOnly}}
			<div class="formButtons">
				{{if:!hasPage}}
					<button type="submit" value="add" class="submit" name="action" tabindex="11">
						<span class="buttonIcon icon-add"></span>
						<span class="buttonLabel">Add</span>
					</button>
				{{/if:!hasPage}}
				{{if:hasPage}}
					<button type="submit" value="update" class="submit" name="action" tabindex="11">
						<span class="buttonIcon icon-edit"></span>
						<span class="buttonLabel">Update</span>
					</button>
					<a href="admin/pages" class="button" data-refresh="soft">
						<span class="buttonIcon icon-cancel"></span>
						<span class="buttonLabel">Cancel</span>
					</a>
				{{/if:hasPage}}
				{{if:showDelete}}
					<button type="submit" value="remove" class="submit confirm" name="action" tabindex="12">
						<span class="buttonIcon icon-delete"></span>
						<span class="buttonLabel">Delete</span>
					</button>
				{{/if:showDelete}}
				<input type="hidden" name="id" value="{{id}}">
				<input type="hidden" name="form" value="Canteen\Forms\PageUpdate">
				<input type="hidden" name="formSession" value="{{formSession}}">
			</div>
		</fieldset>
	</form>
</div>