<h1><span class="icon-admin-config"></span>{{pageTitle}}</h1>

<div class="formContainer configUpdate">
	<form>{{formFeedback}}</form>
	{{for:configs}}
	<form action="{{fullPath}}{{queryString}}" method="post">
		<fieldset class="clearfix formRow">
			<label for="configValue{{id}}">{{name}}</label>
			{{if:isPage}}
				<select id="configValue{{id}}" name="configValue" class="required">
					{{value}}
				</select>
			{{/if:isPage}}
			{{if:isBool}}
				<input id="configValue{{id}}" name="configValue" type="checkbox" value="1" {{value}} class="checkbox required">
			{{/if:isBool}}
			{{if:isNormal}}
				<input id="configValue{{id}}" name="configValue" type="text" value="{{value}}" class="text required">
			{{/if:isNormal}}
			<button type="submit" value="Save" name="saveButton" class="submit">
				<span class="buttonIcon icon-save"></span>
				<span class="buttonLabel">Save</span>
			</button>
			<button type="submit" value="Delete" name="deleteButton" class="submit confirm {{disabled}}" {{disabled}}>
				<span class="buttonIcon icon-delete"></span>
				<span class="buttonLabel">Delete</span>
			</button>
			<input type="hidden" name="form" value="Canteen\Forms\ConfigUpdate">
			<input type="hidden" name="configId" value="{{id}}">
			<input type="hidden" name="formSession" value="{{formSession}}">
		</fieldset>
	</form>
	{{/for:configs}}
</div>

<div class="formContainer configUpdateAdd">
	<form action="{{fullPath}}{{queryString}}" method="post">
		<fieldset>
			<legend>Add A Custom Setting</legend>
			{{formFeedback}}
			<div class="clearfix formRow">
				<label for="configName">Name</label>
				<input id="configName" name="configName" type="text" class="text required" tabindex="1">
			</div>
			<div class="clearfix formRow">
				<label for="configValue">Value</label>
				<input id="configValue" name="configValue" type="text" class="text required" tabindex="2">
			</div>
			<div class="clearfix formRow">
				<label for="configType">Type</label>
				<select id="configType" name="configType" class="required" tabindex="3">
					{{types}}
				</select>
			</div>
			<div class="clearfix formRow">
				<label for="client">Client Global</label>
				<input id="client" name="client" type="checkbox" class="checkbox" value="{{client}}" tabindex="4">
				Add to the client-side <code>Canteen.settings</code>
			</div>
			<div class="clearfix formRow">
				<label for="render">Renderable</label>
				<input id="render" name="render" type="checkbox" class="checkbox" value="{{render}}" tabindex="5">
				Add value to templates <code>&#123;&#123;myProperty&#125;&#125;</code>
			</div>
			<div class="formButtons">
				<button type="submit" value="Add" name="addButton" tabindex="6" class="submit">
					<span class="buttonIcon icon-add"></span>
					<span class="buttonLabel">Add</span>
				</button>
				<input type="hidden" name="form" value="Canteen\Forms\ConfigUpdate">
				<input type="hidden" name="refresh" value="true">
				<input type="hidden" name="formSession" value="{{formSession}}">
			</div>
		</fieldset>
	</form>
</div>