<div class="formContainer passwordUpdate">
	<form action="{{fullPath}}{{queryString}}" method="post" id="password-update" autocomplete="off">
		<fieldset>
			<legend>Change Password</legend>
			{{formFeedback}}
			<div class="clearfix formRow">
				<label for="oldPassword">Old Password</label>
				<input name="oldPassword" type="password" id="oldPassword" class="password required" tabindex="1">
			</div>
			<div class="clearfix formRow">
				<label for="newPassword">New Password</label>
				<input name="newPassword" type="password" id="newPassword" class="password required" tabindex="2">
			</div>
			<div class="clearfix formRow">
				<label for="repeatPassword">New Password</label>
				<input name="repeatPassword" type="password" id="repeatPassword" class="password required" tabindex="3">
			</div>
			<div class="formButtons">
				<input type="submit" value="Update" class="submit" id="updateButton" tabindex="4">
				<input type="hidden" name="form" value="Canteen\Forms\PasswordUpdate">
				<input type="hidden" name="formSession" value="{{formSession}}">
			</div>
		</fieldset>
	</form>
</div>