{{if:!hasUser}}
<div class="formContainer userUpdateSelect">
	<form action="{{fullPath}}{{queryString}}" method="post" id="userUpdateSelect">
		<fieldset>
			<div class="clearfix formRow">
				<label for="userId">Edit User</label>
				<select name="userId" id="userId" require>
					<option value="0">Select a user</option>
					{{users}}
				</select>
			</div>
			<div class="formButtons">
				<button type="submit" value="Edit" id="editButton" class="submit">
					<span class="buttonIcon icon-edit"></span>
					<span class="buttonLabel">Edit</span>
				</button>
			</div>
		</fieldset>
	</form>
</div>
{{fi:!hasUser}}

<div class="formContainer userUpdate">
	<form action="{{fullPath}}{{queryString}}" method="post" id="userUpdate">
		<fieldset>
			<legend>{{formLabel}}</legend>
			{{formFeedback}}
			<div class="clearfix formRow">
				<label for="firstName">First Name</label>
				<input name="firstName" type="text" id="firstName" class="text required" tabindex="1" value="{{firstName}}">
			</div>
			<div class="clearfix formRow">
				<label for="lastName">Last Name</label>
				<input name="lastName" type="text" id="lastName" class="text required" tabindex="2" value="{{lastName}}">
			</div>
			<div class="clearfix formRow">
				<label for="username">Username</label>
				<input name="username" type="text" id="username" class="text required" tabindex="3" value="{{username}}">
			</div>
			<div class="clearfix formRow">
				<label for="email">Email</label>
				<input name="email" type="text" id="email" class="text required" tabindex="4" value="{{email}}">
			</div>
			<div class="clearfix formRow">
				<label for="password">Password</label>
				<input name="password" type="password" id="password" class="password" tabindex="5">
			</div>
			<div class="clearfix formRow">
				<label for="repeatPassword">Repeat Password</label>
				<input name="repeatPassword" type="password" id="repeatPassword" class="password" tabindex="6">
			</div>
			<div class="clearfix formRow">
				<label for="isActive">Active</label>
				<input name="isActive" type="checkbox" class="checkbox" id="isActive" {{isActive}} tabindex="7">
			</div>
			<div class="clearfix formRow">
				<label for="privilege">Privilege</label>
				<select id="privilege" name="privilege" class="required" tabindex="8">
					{{privileges}}
				</select>
			</div>
			<div class="formButtons">
				{{if:!hasUser}}
					<button type="submit" value="Add" class="submit" name="updateButton" id="updateButton" tabindex="9">
						<span class="buttonIcon icon-add"></span>
						<span class="buttonLabel">Add</span>
					</button>
				{{fi:!hasUser}}
				{{if:hasUser}}
					<button type="submit" value="Update" class="submit" name="updateButton" id="updateButton" tabindex="9">
						<span class="buttonIcon icon-edit"></span>
						<span class="buttonLabel">Update</span>
					</button>
					<a href="admin/users" class="button" data-refresh="soft">
						<span class="buttonIcon icon-cancel"></span>
						<span class="buttonLabel">Cancel</span>
					</a>
					<button type="submit" value="Delete" class="button confirm" name="deleteButton" id="deleteButton" tabindex="10">
						<span class="buttonIcon icon-delete"></span>
						<span class="buttonLabel">Delete</span>
					</button>
				{{fi:hasUser}}
				<input type="hidden" name="refresh" value="true">
				<input type="hidden" name="userId" value="{{id}}">
				<input type="hidden" name="form" value="Canteen\Forms\UserUpdate">
				<input type="hidden" name="formSession" value="{{formSession}}">
			</div>
		</fieldset>
	</form>
</div>